In [ ]:
- dictionary is a key: value pair
- we can not use index number directly
- whenever you want to call a value, we will use key

In [1]:
d1={'Manish':25,'Shubham':20,'govind':30}
d1['Manish']
d1['Shubham']
d1['govind']

d1[i]

NameError: name 'i' is not defined

In [5]:
d1={'Manish':25,'Shubham':20,'govind':30}
for i in d1:
    print(f"{i} has age {d1[i]}")

Manish has age 25
Shubham has age 20
govind has age 30

In [7]:
names=['Vignseh','Mohit','nagesh']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} has age {j}")

Vignseh has age 20
Mohit has age 25
nagesh has age 30

In [9]:
d1={'Manish':25,'Shubham':20,'govind':30}
for i in d1:
    print(i,d1[i])

Manish 25
Shubham 20
govind 30

**Dictionary to list**

In [2]:
d1={'Manish':25,'Shubham':20,'govind':30}
keys,values=[],[]
for i in d1:
    keys.append(i)
    values.append(d1[i])

keys,values

(['Manish', 'Shubham', 'govind'], [25, 20, 30])

In [5]:
d1={'Manish':25,'Shubham':20,'govind':30}
keys=[i for i in d1]
values=[d1[i] for i in d1]

**how to create empty list**

In [12]:
l=[]
l.append(20)
l

[20]

**empty string**

In [13]:
s=''
s=s+'a'
s

'a'

**empty dictionary**

In [18]:
d={}
d['Umesh']=20
d['Mukesh']=25
d

{'Umesh': 20, 'Mukesh': 25}

In [19]:
names=['Vignesh','Mohit','Nagesh']
age=[20,25,30]
NAMES={}
for i,j in zip(names,age):
    NAMES[i]=j

NAMES

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}

**string List**

In [22]:
s='hello hai hai how how are you'
s.split()

['hello', 'hai', 'hai', 'how', 'how', 'are', 'you']

**word frequency**

In [25]:
s='hello hai hai how how are you'
words_list=s.split()
words_list
dict1={}
for word in words_list:
    dict1[word]=s.count(word)

dict1

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

In [ ]:
# home work

string1="""Data science is an interdisciplinary academic field that uses statistics, 
scientific computing, scientific methods, processes, scientific visualization, 
algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.
Data science also integrates domain knowledge from the underlying application domain. Data science is multifaceted and can be described as a science,
a research paradigm, a research method, a discipline, a workflow, and a profession."""
string1.remove('a','an','is

**mutable-immutable concept**

In [ ]:
- change the elements using index
- but in dict. there is no index
- in dict. we will change the value based on key only
- instead of using the index, change the

In [26]:
d1={'Manish':25,'Shubham':20,'govind':30}
d1['Manish']=22
d1

{'Manish': 22, 'Shubham': 20, 'govind': 30}

In [ ]:
- list and dict. are mutable
- tupple and string are immutable
- difference b/n list and tupple

In [28]:
d={'Fruits':['Mango']}
d['Fruits'][0]

'Mango'

In [29]:
d={'Fruits':[{'Apple':['kashmir']}]}
d['Fruits'][0]['Apple'][0]

'kashmir'

In [3]:
d={'Fruits':[{'Apple':{'kashmir':['India']}}]}

d['Fruits'][0]['Apple']['kashmir'][0]

'India'

In [33]:
d={'Fruits':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruits']['Benganapalli']['Mango']

{'Nagpur': {'MH': {'Shivaji': {'Shambaji'}}}}

**dictionary methods**

In [ ]:
dir('')

In [ ]:
string
list
tuple
dictionary all are objects

In [1]:
print(type([]))

<class 'list'>

**items-keys-values**

In [2]:
d1={'Manish':25,'Shubham':20,'govind':30}
d1

{'Manish': 25, 'Shubham': 20, 'govind': 30}

In [ ]:
# <package>.<methods name>

In [4]:
d1.items()

dict_items([('Manish', 25), ('Shubham', 20), ('govind', 30)])

In [5]:
d1.keys()

dict_keys(['Manish', 'Shubham', 'govind'])

In [7]:
d1.values()

dict_values([25, 20, 30])

In [ ]:
# we already learn how to make a list from dictionary
d1={'Manish':25,'Shubham':20,'govind':30}
keys,values=[],[]
for i in d1:
    print(i,d1[i])
    keys
    values

In [10]:
type(d1.keys())

dict_keys

In [13]:
list(d1.keys()),list(d1.values())

(['Manish', 'Shubham', 'govind'], [25, 20, 30])

In [ ]:
- dictionary keys will give dictionary keys items in a list
- it look like a list, but it is not a list
- which means we can not apply list methods
- so we need to convert into list type, by using list type casting

In [14]:
type(list[d1.keys])   tensorflow python

types.GenericAlias

**method 1**

In [16]:
d1.items()

dict_items([('Manish', 25), ('Shubham', 20), ('govind', 30)])

In [17]:
for i in d1.items():
    print(i)

('Manish', 25)
('Shubham', 20)
('govind', 30)

In [19]:
for i,j in d1.items():
    print(i,j)

Manish 25
Shubham 20
govind 30

**methods 3**

In [20]:
keys,values=[],[]
for i,j in d1.items():
    print(i,j)
    keys.append(i)
    values.append(j)

keys,values

Manish 25
Shubham 20
govind 30

(['Manish', 'Shubham', 'govind'], [25, 20, 30])

In [21]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']