**Loops**

In [ ]:
-   loops
- iterate a piece of code until the condition satisfy
- we can run a code normally
- we can run a code by using function wrapper(functions)
- we can run a code multiple times(loops)
- we can run a code by using condition(conditions)

In [18]:
a=10
b=20
c=a+b
print(c)

30

In [19]:
if True:
    a=10
    b=20
    c=a+b
    print(c)

30

In [20]:
def add():
    a=10
    b=20
    c=a+b
    print(c)

add()

30

In [17]:
salary=eval(input('enter the salary'))
tax_per=eval(input('enter the tax_per'))
tax_amount=salary*tax_per/100
print(tax_amount)

enter the salary 4500
enter the tax_per 3

135.0

In [16]:
def tax():
    salary=eval(input('enter the salary'))
    tax_per=eval(input('enter the tax_per'))
    tax_amount=salary*tax_per/100
    print(tax_amount)

tax()

enter the salary 30000
enter the tax_per 15

4500.0

- For loop

- While loops

- any loop

    - Initial point to start the loop

    - increment or decrement

    - condition to stop the loop

In [ ]:
**for loop**

In [ ]:
# pattern 1

In [ ]:
range(stop)

In [ ]:
# syntax
for i in range(<value>):
    # start write your code

In [ ]:
- whenever you see the word range it belongs to math family
- inside range we need to provide one value ex: range(3)
- if you provide only one value
    - start value=0
    - increment =+1
    - last = stop-1

range(3)
    - start value =0
    - increment = 1
    - last = 3-1=2
    - answer are : 0 1 2
- note in python the index always atart with zero

In [1]:
for i in range(3):
    print(i)

0
1
2

In [3]:
print(0)
print(1)
print(2)
print(3)

print(i)

0
0

In [4]:
# i want to print hello 5 times

for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [7]:
# for example
# take a random number between 1 to 100
# print it is a even number or odd number
# you need to print 3 random number

import random
for i in range(3):
    num=random.randint(1,100)
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

60 is even
87 is odd
23 is odd

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
# sep:will separator multiple values in same print
# end: combine the multiple print statement

In [ ]:
$Pattern-2$

**range(start,atop)**

- range(10,20):
    - start value =10
    - increment =1
    - last =stop-2 =20-1=19
    - ans =10,11,12,13,14,15,16,17,18,19

In [11]:
for i in range(10,20):
    print(i,end='  ')

10  11  12  13  14  15  16  17  18  19

In [13]:
# wap ask the user print the square of the number between
# 20 to 25

import random
for i in range(20,26):
    num=random.randint(20,26)
    print(f"square of {num} is {i*i}")

square of 26 is 400
square of 22 is 441
square of 22 is 484
square of 26 is 529
square of 26 is 576
square of 20 is 625

In [12]:
import random
for i in range(20,26):
    print(f"the square of {i} is {i*i}")

the square of 20 is 400
the square of 21 is 441
the square of 22 is 484
the square of 23 is 529
the square of 24 is 576
the square of 25 is 625

In [13]:
for i in range(20,25):
    print(i*i,end=' ')

400 441 484 529 576

In [14]:
# wap ask the user 
for i in range(1,10):
    if i%2==0:
        print(f"{i} is even")

    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [8]:
import random
for i in range(1001,1020):
    num=random.randint(1,150)
    if num%2==0:
        print(f"{num} is even")

    else:
        print(f"{num} is odd")

76 is even
20 is even
118 is even
28 is even
109 is odd
40 is even
119 is odd
78 is even
113 is odd
146 is even
105 is odd
51 is odd
44 is even
23 is odd
107 is odd
28 is even
119 is odd
76 is even
69 is odd

In [ ]:
$pattern-3$
- start value = start value
- step value
    - positive step value
        if step value is positive:increment
        last= stop-1
    - negative step value
        if step value is negative:decrement
        last=stop+1

In [20]:
# case-1
for i in range(2,20,2):
    print(i,end='  ')

# start=1
# step=+ve 2
# last= Stop-1= 20-1=19
# 2,4,6,8,

2  4  6  8  10  12  14  16  18

In [18]:
for i in range(10,20,30):
    print(i,end='  ')

# start=10
# step=+ve 10
# last= stop-1= 20-1=19
#

10

In [1]:
# case-2:
for i in range(2,20,-2):
    print(i,end='  ')

# start=2
# step= -2 negative 
# last= stop+1  20+1=21

In [19]:
# case-3:
for i in range(20,2,-2):
    print(i,end='  ')

# start=22
# step= -2 negative 
# last= stop+1  2+1=3

20  18  16  14  12  10  8  6  4

In [14]:
# case-4:
for i in range(-20,2,-2):
    print(i,end='  ')

# start= -20
# step= -2 negative 
# last= stop+1  2+1=3

In [ ]:
range(3,20,2) # p
range(3,20,-2) # np
range(3,-20,2) # np

In [3]:
# wap ask the user enter the number three times find the square of the number

for i in range(3):
    num=eval(input("enter the number"))
    print(f"the square of {num}, {i*i}")

enter the number 5

the square of 5, 0

enter the number 53

the square of 53, 1

enter the number 53

the square of 53, 4

In [6]:
# print the 14th table
# ans   14 x 1 = 14
num=eval(input("enter the table"))
for i in range(1,11):
    val=i*num
    print(f"{num} x {i} = {val}")

enter the table 14

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [14]:
# find the factors of 75
num=eval(input("factor number i want is:"))
for i in range(1,num+1):
    if num%i==0:
        print(f"{i} is the divisor of {num}")

factor number i want is: 75

1 is the divisor of 75
3 is the divisor of 75
5 is the divisor of 75
15 is the divisor of 75
25 is the divisor of 75
75 is the divisor of 75

In [13]:
# write the sum of first 10 natural number
summ=0
for i in range(1,11):
    summ=summ+i
    print(summ)

1
3
6
10
15
21
28
36
45
55

In [18]:
summ=0
for i in range(1,11):
    summ=summ+i
    print(f"{summ-i} + {i} = {summ}")

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15
15 + 6 = 21
21 + 7 = 28
28 + 8 = 36
36 + 9 = 45
45 + 10 = 55

In [ ]:
**summation wrapper**
- initially we need to keep  summ=0
- make surethat do not provide **sum**
- because sum is a keyword
- inside for loop

In [ ]:
summ=0
for i in range(1,11):
    val=summ
    summ=summ+i
    print(f"{summ} + {i} = {summ}")

In [19]:
summ=0
for i in range(1,11):
    summ=summ+i
print(summ)

55

In [20]:
for i in range(3):
    print(i)

i

0
1
2

2

**note**
- if we print answer from out of for loop, last answer will print

In [22]:
#average of first 1 to 10 number
# avg=summation of all the numbers/total number

N=eval(input("enter the number"))
for i in range(1,N+1):
    summ=summ+i
print(summ/N)

enter the number 10

16.5

In [ ]:
counter wrapper
- before for loop initialize with count=0
- under for loop count=count+1
- counter always increase by 1 only

In [25]:
# find the number of divisior of 75
# 1,3,5,15,25,75
# number=6
count=0
num=eval(input("factor number i want is:"))
for i in range(1,num+1):
    if num%i==0:
        count=count+1

print(f"the number divisior for {num} is {count}")

factor number i want is: 75

the number divisior for 75 is 6

In [ ]:
count=0
i=1
num=eval(input("factor number i want is:"))
while i<num+1:
    if num%i==0:
        count=count+1

print(f"the number divisior for {num} is {count}")
i=i+1

factor number i want is: 75

In [26]:
# enter the user get a random number 1 to 10 : num1
# ask the user enter a number : num2
# if num1==num2 then print won
# else print fail
import random
for i in range(3):
    num1=random.randint(1,10)
    num2=eval(input("enter the number between 1 to 10:"))
    if num1==num2:
        print("won")

    else:
        print("fail")

enter the number between 1 to 10: 5

fail

enter the number between 1 to 10: 5

fail

enter the number between 1 to 10: 8

fail

In [ ]:
case 2 whenever you won the

In [2]:
import random
for i in range(3):
    num1=random.randint(1,10)
    num2=eval(input("enter the number between 1 to 10:"))
    if num1==num2:
        print("won")
        break

    else:
        print("fail")

2

enter the number between 1 to 10: 5

won

2

In [ ]:
case- 3
# suppose i want to give 4 chances
# everytime you fail I want to display
#      number of chances left
#if all the chance you are used
#      try again after 24 hours

# if you are win