In [ ]:
**lambda function**
- lambda function represents function concept
- but we can write in a single line
- like list comphrehension, lambda function similiar
- it will decrease the time complexity
- always remember if we use many for loops or many conditions using multiplt line ,the time

In [ ]:
**it will use a leyword lambda**
# lambda <arguments>: <expression>

In [ ]:
interwiew
1 coding+sql
2 based on ml dl
3 technical: 2,3(manager)

band : 1.5 bonus

In [2]:
def summ(n):
    return(n+10)
summ(10)

20

In [ ]:
$Pattern - 1$

**function with only one argument**
- function name
- argument name
- return output

In [ ]:
# syntax
<function name>=lambda <argument name>: <return output>

In [3]:
def summ(n):
    return(n+10)
summ(10)

# function name is def
# argument name = n
# return output = n+10
summ=lambda n:n+10
summ(100)

110

In [4]:
def cube(n):
    return(n**3)

cube(10)

cube=lambda n:n**3
cube(10)

1000

In [5]:
cube=lambda n:n**3
cube(15)

3375

In [ ]:
$ Pattern - 2 Two argunent$

In [5]:
# syntax : <function name>=lambda <arg1>,<arg2>:<return output>
a=10
b=20
def add(a,b):
    return(a+b)

add(a,b)

add=lambda a,b:a+b
add(10,20)

30

In [2]:
add=lambda a,b:a+b
add(10,20)

30

In [10]:
add=lambda n1,n2: n1+n2
add(60,50)

110

In [ ]:
$ pattern - 3$
default arguments

In [11]:
average=lambda a,b,c:round((a+b+c)/3,2)
average(10,20,30)

20.0

In [ ]:
$pattern - 4$
if - else

In [13]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)

max(10,20)

20

In [15]:
# syntax : function name=lambda arg1,arg2:if_out else else_out     list comphrehension

max=lambda a,b:a if a>b else b
max(30,20)

30

In [ ]:
$ pattern - 5$
**using list**
lambda variable: op
# variable = i
# op = i.capitalize()
lambda <variable>:<op>,<iterator>
map(lambda <variable>:<op>,<iterator>)
list(map(lambda <variable>:<op>,<iterator>))

In [9]:
l=['hyd','chennai','mumbai']
lambda i:i.capitalize()

In [17]:
l=['hyd','chennai','mumbai']
lambda i:i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [ ]:
**mapping**
- the function and iterartor are available
- we need to map both

In [18]:
l=['hyd','chennai','mumbai']
map(lambda i:i.capitalize(),l)

In [19]:
# apply the list to see the values
l=['hyd','chennai','mumbai']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [21]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i:i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

In [ ]:
step 1 : write your normal expression
    ex: lambda i: i.capitalize()
strep: add the iterator
     lambda i: i.capitalize(), list1
step 3 : map both
     map(lambda i: i.capitalize(),list)
step 4 save the value list
    list(map(lambda i: i.capitalize(),list))
# note those are getting list object not collable use tupple

In [6]:
l=['naresh','it','python','ds']
lambda i:i.capitalize()

In [3]:
l=['hyd','chennai','mumbai']
lambda i:i.capitalize()