**tuple methods**

In [3]:
# INDEX()

tuple=(1,2,3,4,5)
tuple.index(3)

2

In [4]:
# COUNT()

tuple=(1,2,2,3,2,3,1,2,2,4,5)
tuple.count(2)

5

In [5]:
# LEN()

tuple=(1,2,3,4,5)
len(tuple)

5

In [6]:
# MAX()

tuple=(1,2,3,4,5)
max(tuple)

5

In [7]:
# MIN()

tuple=(1,2,3,4,5)
min(tuple)

1

In [8]:
# SORTED()

tuple=(5,2,8,3,7,6,1,4)
sorted(tuple)

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
# TUPLE()

list=[1,2,3]
tuple(list)

TypeError: 'tuple' object is not callable

In [ ]:
-we can store the output value by using append operations
- we are taking emptyblist
- we are iterating through elements from a given list
- the result we are appending in a new list

In [1]:
square_list=[]
for i in range(10):
    square_list.append(i*i)

square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- there are almost 3 line are in the process
- the three lines we can make into a single line
- this is called as **LIST COMPHREHENSION**

In [ ]:
$pattern - 1$
**only for loop**

In [ ]:
# syntax
# [<output> <for loop>]

In [5]:
square_list=[]
for i in range(10):
    square_list.append(i*i)

square_list

# q1= what is the output? i*i
# q2 what is the output list name? aquare_list
# q3 what is the for loop? for i in range(10)
# [<output> <
sq_list=[i*i for i in range(10)]
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# Q2 l1=['hyd','mumbai','Chennai','blr']
# upper_list=
l1=['hyd','mumbai','Chennai','blr']
upper_list=[]
for i in l1:
    upper_list.append(i.upper())

upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [9]:
upper_list=[i.upper() for i in l1]
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [ ]:
l1=['hyd','mumbai','Chennai','blr']

In [10]:
# Q3
l2=['hyd','mumbai','Chennai','blr']
lower_list=[i.lower() for i in l2]
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [13]:
# Q4 l2-['hyd','mumbai','Chennai','blr']
# summ of all element

summ=0
l2=['hyd','mumbai','Chennai','blr']
for i in l2:
    print(l2.index(i))

0
1
2
3

In [14]:
l2=['hyd','mumbai','Chennai','blr']
idx_list=[l2.index(i) for i in l2]
sum(idx_list)

6

In [ ]:
- making empty list will not works in list comphrehension
- initializing will not work in list comphrehension

In [ ]:
unique vowels
s=''
for i in

In [ ]:
$pattern 2$
**for loop - if condition**

In [ ]:
# syntax
# [<output> <for loop> <if condition>]

In [15]:
# Q5 l1=['hyd','Mumbai','Chennai','blr']
# ans=['Mumbai','Chennai']

l1=['hyd','Mumbai','Chennai','blr']
for i in l1:
    if len(i)>4:
        print(i)

Mumbai
Chennai

In [17]:
l1=['hyd','Mumbai','Chennai','blr']
op=[i for i in l1 if len(i)>4]
op

['Mumbai', 'Chennai']

In [20]:
# Q6 l1=['hyd','Mum#bai','Chen#nai','blr']
# ans=['Mum#bai','Chennai']
# we want element which are having '#'

l1=['hyd','Mum#bai','Chen#nai','blr']
for i in l1:
    if '#' in i:
        print(i)

Mum#bai
Chen#nai

In [24]:
l1=['hyd','Mum#bai','Chen#nai','blr']
op=[]
for i in l1:
    if '#' in i:
        op.append(i)

op

['Mum#bai', 'Chen#nai']

In [22]:
l1=['hyd','Mum#bai','Chen#nai','blr']
op=[i for i in l1 if '#' in i]
op

['Mum#bai', 'Chen#nai']

In [23]:
l1=['hyd','Mum#bai','Chen#nai','blr']
op=[i for i in l1 if '#' not in i]
op

['hyd', 'blr']

In [ ]:
# Q7 l1=['hyd','Mumbai','Chennai','blr']
# ans=['Mumbai','Chennai']
# we want element which are having capital letter

l1=['hyd','Mum#bai','Chen#nai','blr']
for i in l1:
    if '#' in i:
        print(i)
for i in l1:

In [64]:
l1=['hyd','Mumbai','Chennai','blr']
op_title=[i for i in l1 if i.istitle()]
op_title

['Mumbai', 'Chennai']

In [70]:
l1=['hyd','Mumbai','Chennai','blr']
op_title=[i for i in l1 if i.capitalize()]
op_title

['hyd', 'Mumbai', 'Chennai', 'blr']

In [2]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.Rahul@lucknow.com'
list1=str1.split(',')
list1[0][:list1[0].index('.')]
list1[1][:list1[1].index('.')]
list1[2][:list1[2].index('.')]

f_name=[]
for i in list1:
    f_name.append(i[:i.index('.')])

f_name

['virat', ' Rohit', ' KL']

In [5]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.Rahul@lucknow.com'
list1=str1.split(',')
f_name=[i[:i.index('.')]for i in list1]
f_name

['virat', ' Rohit', ' KL']

In [9]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.Rahul@lucknow.com'
list1=str1.split(',')
s_name=[i[:i.index('@')]for i in list1]
s_name

['virat.kohli', ' Rohit.sharma', ' KL.Rahul']

In [57]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.rahul@lucknow.com'
list1=str1.split('.')
list1[0][:list1[0].index('.')]

ValueError: substring not found

In [1]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.rahul@lucknow.com'
list1=str1.split(',')
list1[0][:list1[0].index('.')]
list1[1][:list1[1].index('.')]
list1[2][:list1[2].index('.')]

' KL'

In [ ]:
$Pattern - 3$
if - else
[<if_output> <if> <else> <else_output> <for>] : if else

if output   else output
if condition  else
for loop
# A practical introduction to python programming
# google AI developers

**even-odd**

In [ ]:

even_list,odd_list=[],[]
for i in range(1,20):
    if i%2==0:
        print(f"even:{i}")
    else:
        print(f"odd:{i}")

In [ ]:
even_list,odd_list=[],[]
for i in range(1,20):
    if i%2==0:
        even_list.append(f"even:{i}")
    else:
        print(f"odd:{i}")

In [ ]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f"even:{i}")
    else:
        op_list.append(f"odd:{i}")
 op_list

In [4]:
op_list=[f"even:{i}" if i%2==0 else f"odd:{i}" for i in range(1,20)]
op_list

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']