In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [6]:
print(10,20,'naresh it',True)

10 20 naresh it True

In [7]:
n1=10
n2=20
print(n1,n2)

10 20

In [19]:
print(10,23,30)
print(10),print(23)

10 23 30
10
23

(None, None)

In [8]:
10,10

(10, 10)

## format method

In [10]:
a=100
b=200
c=a+b
print("the addition of{} and {} is {}".format(a,b,c))

the addition of100 and 200 is 300

In [ ]:
# read your name
# read your age
# read your city
# my name is py

In [12]:
a='umesh'
b=33
c='hyderabad'
print("my name is umesh,10 years old and in from hyderabad")
print(f"my name is {a},{b} years old and im from {c}")
print("my name is {}, {} years old and im from {}".format(a,b,c))

my name is umesh,10 years old and in from hyderabad
my name is umesh,33 years old and im from hyderabad
my name is umesh, 33 years old and im from hyderabad

In [9]:
name='umesh'
role='DS'
company='google'
print("my name is {}, i want to become {}, in {} company".format(name,role,company))

my name is umesh, i want to become DS, in google company

In [11]:
a=100
b=200
c=a+b
print(f"the addition of{a} and {b} is {c}")

the addition of100 and 200 is 300

In [16]:
name='umesh'
age=25
city='hyd'
print(f"my name is {name}, {age} years old and im from {city}")

my name is umesh, 25 years old and im from hyd

In [15]:
name='umesh'
age=25
city='hyd'
print(f"my name is {}, {} years old and im from {}")

SyntaxError: f-string: empty expression not allowed (1582833642.py, line 4)

In [18]:
name='Umesh'
role='Data Scientist'
company='Google'
print(f"My Name is {name} I want to become {role} in the {company} Company")

My Name is Umesh I want to become Data Scientist in the Google Company

In [1]:
num1=100
num2=200
average=(num1+num2)/2
# the average of 100 and 200 is: 150
print(f"the average of 100 and 200 is 150")

the average of 100 and 200 is 150

In [3]:
print("the average of {} and {} is: {}".format(num1,num2,average))

the average of 100 and 200 is: 150.0

In [7]:
# take the radius of circle 
# take the pi value=3.14
#find the area of the circle = pi*r*r
radius=12
pi_value=3.14
area=pi_value*radius*radius
print(f"the area of circle is: {area}")

the area of circle is 452.15999999999997

In [6]:
base=13
heifht=10
area_of_triangle=1/2*base*heifht
print("area of triangle {}".format(area_of_triangle))

area of triangle 65.0

In [20]:
bill=1000
tip=10
tip_amount=bill*tip/100
total_bill=(bill+tip_amount)
print(f"total tip amount is: {tip_amount}")
print(f"total bill is: {total_bill}")

total tip amount is: 100.0
total bill is: 1100.0

# end operator

In [17]:
print(10,end=' ')
print(20)

10 20

In [ ]:
$end$
combining multiple print statement in a single line

In [18]:
print(10,end='')
print(20,end='&')
print(30)

1020&30

In [ ]:
seperator operator $sep$
- seperate the multiple values in a single print statement

In [23]:
print(10,20,30,sep=' & ')
# 10 & 20 & 30

10 & 20 & 30

In [24]:
print(10,20,30,sep='---->')

10---->20---->30

In [25]:
print(f"the addition of {5} and {3} is {5+3}.")

the addition of 5 and 3 is 8.

In [27]:
print("the addition of {} and {} is {}.".format(5,3,5+3))

the addition of 5 and 3 is 8.

In [ ]:
print(f"the addition of {5} and {3} is {5+3}.")

In [28]:
radius=12
pi_value=3.14
area=pi_value*radius*radius
print(f"the area of circle is: {area}")

the area of circle is: 452.15999999999997