In [20]:
i=20
while i>0:
    print(i)
    i=i-1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
**True**
- if you dont known about valid condition to enter inside while loop
- then use **True**
- True will give entry pass iorrespective of the condition
- but if u want to come out we need to apply if condition and break inside the loop

In [19]:
i=1
while True:
    print(i)
    i=i+1
    if i>10:
        break

1
2
3
4
5
6
7
8
9
10

In [18]:
i=20
while True:
    print(i)
    i=i+1
    if i>-15:
        break

20

In [17]:
i=-20
while i<1:
    i=i+1
    print(i,end=' ')

-19 -18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1

In [16]:
import random
num=random.randint(1,100)
for i in range(3):
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

94 is even
94 is even
94 is even

In [ ]:
# all for loop need to do while loop

In [15]:
import random
for i in range(3):
    num=random.randint(1,100)
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

29 is odd
88 is even
77 is odd

In [14]:
import random
i=0
while i<3:
    print(i)
    i=i+1

0
1
2

In [13]:
import random
i=0
while i<3:
    num=random.randint(1,100)
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")
    i=i+1

56 is even
42 is even
30 is even

In [ ]:
# wap ask the user print the number is even or odd between 10 to 20
for i in range(10,20):
    print(i,end='  ')

In [12]:
i=10
while i<20:
    print(i)
    i=i+1

10
11
12
13
14
15
16
17
18
19

In [11]:
#wap ask the user print the square of the number between 20 to 25

for i in range(20,26):
    print(f"the square of {i} is {i*i}")

the square of 20 is 400
the square of 21 is 441
the square of 22 is 484
the square of 23 is 529
the square of 24 is 576
the square of 25 is 625

In [10]:
i=20
while i<25:
    print(f" {i} is {i*i}")
    i=i+1

 20 is 400
 21 is 441
 22 is 484
 23 is 529
 24 is 576

In [9]:
i=20
while i<26:
    print(f" {i} is {i*i}",end=' ')
    i=i+1

 20 is 400  21 is 441  22 is 484  23 is 529  24 is 576  25 is 625

In [8]:
# WAP ask the user enter number three times find the square of the number
# How many times loop should run

for i in range(3):
    num=eval(input("enter the number"))
    print(f"the square of {num} is {num*num}")

enter the number 5

the square of 5 is 25

enter the number 6

the square of 6 is 36

enter the number 6

the square of 6 is 36

In [7]:
i=0
while i<3:
    num=eval(input("enter the number"))
    print(f"the square of {num} is {num*num}")
    i=i+1

enter the number 5

the square of 5 is 25

enter the number 6

the square of 6 is 36

enter the number 6

the square of 6 is 36

In [6]:
# Print the 14th table
# ans:   14 x 1 = 14
#        14 x 2 = 28
#        14 x 3 = 42
#
#
#        14 x10 = 140
# How many times 10

num=eval(input("enter the table"))
for i in range(1,11):
    val=i*num
    print(f"{num} x {i} = {val}")

enter the table 14

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [5]:
i=1
num=eval(input("enter the table"))
while i<11:
    val=i*num
    print(f"{num} x {i} = {val}")
    i=i+1

enter the table 14

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [ ]:
# Find the factors of 75
# step-1: Iterate the loop = which numbers factor you want
# step-2: Apply the if condition
#         cond= divide the number with each i

num=eval(input("factor number i want is:"))
for i in range(1,num+1):
    if num%i==0:
        print(f"{i} is the divisor of {num}")

In [ ]:
i=1
num=eval(input("factor number i want is:"))
while i<num:
        if num%i==0:
            print(f"{i} is the divisor of {num}")
        i=i+1

In [ ]:
# Initialize variables
sum = 0
count = 1

# Iterate using a while loop to sum the first 10 natural numbers
while count <= 10:
    sum += count
    count += 1

# Print the result
print("Sum of first 10 natural numbers:", sum)

In [4]:
# Write the sum of first 10 Natural numbers
# 1 to 10
# 1+2+3+4+5+6+7+8+9+10=55

summ=0
for i in range(1,11):
    summ=summ+i
    print(f"sum of 10 natural number is : {summ-i} + {i} = {summ}")

sum of 10 natural number is : 0 + 1 = 1
sum of 10 natural number is : 1 + 2 = 3
sum of 10 natural number is : 3 + 3 = 6
sum of 10 natural number is : 6 + 4 = 10
sum of 10 natural number is : 10 + 5 = 15
sum of 10 natural number is : 15 + 6 = 21
sum of 10 natural number is : 21 + 7 = 28
sum of 10 natural number is : 28 + 8 = 36
sum of 10 natural number is : 36 + 9 = 45
sum of 10 natural number is : 45 + 10 = 55

In [3]:
summ=0
i=1
while i<11:
    summ=summ+i
    print(f"sum of 10 natural numbers is : {summ-i} + {i} = {summ}")
    i=i+1

sum of 10 natural numbers is : 0 + 1 = 1
sum of 10 natural numbers is : 1 + 2 = 3
sum of 10 natural numbers is : 3 + 3 = 6
sum of 10 natural numbers is : 6 + 4 = 10
sum of 10 natural numbers is : 10 + 5 = 15
sum of 10 natural numbers is : 15 + 6 = 21
sum of 10 natural numbers is : 21 + 7 = 28
sum of 10 natural numbers is : 28 + 8 = 36
sum of 10 natural numbers is : 36 + 9 = 45
sum of 10 natural numbers is : 45 + 10 = 55

In [1]:
# Average first 1 to 10 numbers
# avg= summation of all the numbers/total number
#Wap to find the average of ' N ' numbers in Python.
summ=0
N=eval(input("enter the number"))
for i in range(1,N+1):
    summ=summ+i
print(summ/N)

enter the number 10

5.5

In [2]:
N=eval(input("enter the number"))
for i in range(1,11):
    summ=summ+i
print(summ/N)

enter the number 10

11.0

In [4]:
summ=0
i=1
N=eval(input("enter the number"))
while i<N+1:
    summ=summ+i
    print(summ/N)
    i=i+1

enter the number 10

0.1
0.3
0.6
1.0
1.5
2.1
2.8
3.6
4.5
5.5

In [8]:
summ=0
i=1
N=eval(input("enter the number"))
while i<11:
    summ=summ+i
    print(summ/N)
    i=i+1

enter the number 10

0.1
0.3
0.6
1.0
1.5
2.1
2.8
3.6
4.5
5.5

In [12]:
# find the number of divisior of 75
# 1,3,5,15,25,75
# number=6
count=0
num=eval(input("factor number i want is:"))
for i in range(1,num+1):
    if num%i==0:
        count=count+1
print(f"the number divisior for {num} is {count}")

factor number i want is: 75

the number divisior for 75 is 6

In [1]:
count=0
i=1
num=eval(input("factor number i want is:"))
while i<num+1:
    if num%i==0:
        count=count+1       
print(f"the number divisior for {num} is {count}")
i=i+1

factor number i want is: 75

KeyboardInterrupt:

# python session 12 strings

In [ ]:
###################### Part 1 ####################
- Initialization
- type
- len
- max
- min
- sorted
- revesed
- in
- for loop
- index
- for loop using index
- mutable concept
- concatenation
######################### Part 2 ##########################
- methods

In [ ]:
Initialization

In [4]:
str1='python'
str1

'python'

In [2]:
str2="python"
str2

'python'

In [6]:
print(str1)

python

In [ ]:
**note**
- if we mentioned single quotes or double quotes by default python provides in single quotes only
- if we print the string we will answer with out quotes
- triple quotes are using dor doc string
- in order to convey the information about coding part we will use doc string
- anything inside the single or double quotes is considered as string in python

**triple quote**

In [2]:
str3="""hello
        i am umesh"""
print(str3)

hello
        i am umesh

**type**

In [7]:
type(str1)

str

In [ ]:
str4='10'    #  integer value in the forn of srting
str5='10.5'   #  float value
str6='abc123'  # alphanumeric
str7

**length**

In [8]:
str1='python'
len(str1)

6

In [9]:
str2='kushwaha'
len(str2)

8

**max and min**

In [10]:
str1='umesh'
max(str1)

'u'

In [11]:
str2='python'
max(str2)

'y'

In [14]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [13]:
str1='python'
min(str1)

'h'

**keyword vs methods**

In [ ]:
type(<>)
print(<>)
len(<>)
max(<>)
min(<>)
eval(<>)

In [ ]:
- in order to use methods we need to call packages

import random
randon.randint()

In [15]:
str1='python123'
max(str1)

'y'

In [7]:
str1='python123'
min(str1)

'1'

**sum**

In [16]:
str1='python'
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
'p'+'y'+'t'+'h'+'o'+'n'

'python'

**sorted**

In [ ]:
len('python')
len

In [20]:
str1='python'
sorted(str1)

['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
- sorted gives ascending order based on ASCII number
- sorted is kind of a function
- every function we have arguments
- in that one default argument is **reverse=False**
- by default sorted output gives **ascending order**
- we can change the order by providing **reverse=True**
- if u donot mention, it will give the default answer

In [21]:
sorted()

TypeError: sorted expected 1 argument, got 0

In [23]:
sorted(str1,reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [24]:
complex()

0j

In [25]:
complex(10,20)

(10+20j)

In [27]:
complex(real=10,imag=30)

(10+30j)

In [28]:
import random
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
function()
function(a,b)
function(a=10,b=20)

In [31]:
import random    # it will give answer but we cannot change
random.random()

0.9025799546468164

In [33]:
random.randint(1,10)  # answer will change

2

In [34]:
complex(10,20)

(10+20j)

In [35]:
sorted((iterable='python')  # error

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1322657665.py, line 1)

In [36]:
random.randint(a=10,b=20)  # answer

10

In [37]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
**note**
- we have argument before / and after slash
- we can use the arguments names after / only
- for example sorted has two arguments ine is iterable and another is reverse
- iterable is mentioned before / symbol
- reverse is mentioned after / symbol
- so we can use reverse arguments name while we are diong the work
- we cannot use iterable arguments name
- instead of using iterable na,me we can directly specify the value

**reversed**

In [38]:
reversed('python')

In [ ]:
- i already done my work
- your output is stored in that memory location
- whenever you see this kind of answer less than or greater than the symbol
- use for loop to see the answer

In [39]:
str1='python'
output=reversed(str1)
for i in output:
    print(i)

n
o
h
t
y
p

In [40]:
str1='azycd'
output=reversed(str1)
for i in output:
    print(i)

d
c
y
z
a

In [41]:
sorted('azycd')

['a', 'c', 'd', 'y', 'z']

In [ ]:
**sorted**
- it will provides the values either ascending or descending order
- when run directly it will give one answer
- the function has a default behaviour

In [3]:
sorted('naresh')

['a', 'e', 'h', 'n', 'r', 's']

In [4]:
sorted('naresh',True)

TypeError: sorted expected 1 argument, got 2

In [5]:
sorted('naresh',reverse=True)

['s', 'r', 'n', 'h', 'e', 'a']

In [6]:
reversed('naresh')

In [3]:
for i in reversed('naresh'):
    print(i)

h
s
e
r
a
n

In [2]:
for i in reversed('naresh'):
    print(i,end=' ')

h s e r a n

In [10]:
sorted([1,10,2,20,30])

[1, 2, 10, 20, 30]

In [6]:
sorted([1,10,2,20,30],reverse=True)

[30, 20, 10, 2, 1]

In [ ]:
**in operator**

In [11]:
str1='naresh'
'n' in str1

True

In [12]:
str1='naresh'
'nn' not in str1

True

In [ ]:
**note**
- in operator directly access the letters

In [ ]:
 #wap ask the user count how many 'a' are present in a given string
# str1='hai naresh how are you'

# idea:counter wrapper
# step-1= count=0
# step-2= using for loop in operator iterate through given string
# step-3= apply the if condition, whenver the letter equal to 'a'
# step-4= count+1

In [14]:
count=0
str1='hai naresh how are you'
for i in str1:
    if i=='a':
        print(i)
        count=count+1
print(count)

a
a
a
3

In [ ]:
# wap ask the user how many vowels are there in a string
# str1='hai naresh how are you'
# ans=9

In [15]:
count=0
str1='hai naresh how are you'
str2='aeiou'
for i in str1:
    if i in 'aeiou':
        count=count+1

print("the count is:",count)

the count is: 9

In [ ]:
if i=='a'or i=='e'or i=='i'or i=='o'or i='u':

In [ ]:
# Q3- home works
# str1='hai naresh how are you'
# reapeated vowels are there
# we dont want repeat vowels
# count the vowels avoid the repeated one
# count the vowels avoid the repeatition: unique vowels

# idea
# 1-count=0
# 2-take one more empty string: ex= s2=''
# s2=''
# 3- using for loop in operator iterate through given string
# 4-condition-1 that letter should not available in s2
# 5-         dondition -2: vowel check  condition
# 6-              count=count+1
# 7-          update  the s2=  s2=s2+<letter>

In [1]:
count=0
str1='hai naresh how are you'
str2=' '
for i in str1:
    if i not in str2:
        if i in 'aeiou':
            count=count+1
            str2=str2+i
print(f"the count of unique vowels is: {count}")

the count of unique vowels is: 5

**how to update the empty string**

In [16]:
s1='python'
s2=''

for i in s1:
    s2=s2+i   # concatenation

s2

'python'

**concatenation**

In [17]:
s1='hello'
s2='bye'
s1+s2

'hellobye'

In [18]:
s1='hello '
s2='bye'
s1+s2

'hello bye'

In [20]:
s1='hello'
s2=' '
s3='bye'
s1+s2+s3

'hello bye'

In [21]:
s1='hello'
s2=' bye'
s1+s2

'hello bye'

In [23]:
s1='hello'
s2='   '
s3='bye'
s4=s1+s2+s3
s4

'hello   bye'

In [24]:
s1='hello'
s2='bye'
s1*s2

#

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
s1='hello'
s2='bye'
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [26]:
s1='hello'
s2='bye'
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [27]:
s1='hello'
s2='bye'
s1+s2

'hellobye'

In [28]:
s1='hello'
s2=2
s1*s2

'hellohello'

In [ ]:
s1+s1====s1*2

In [ ]:
**index operations**

- index meaning a number attached to a letter
- in python index start with zero
- we have two direction
        - positive direction
            -positive numbers starts with zero
        - negative direction
            -negative number starts with -1 applicable to the last letter

In [ ]:
s1='python'

-6   -5   -4    -3    -2     -1
p    y     t     h     o      n
1    2     3     4     5      6

In [30]:
s1='python'
s1[0],s1[1],s1[2],s1[3],s1[4],s1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [31]:
s1='python'
s1[-1],s1[-2],s1[-3],s1[-4],s1[-5],s1[-6]

('n', 'o', 'h', 't', 'y', 'p')

**mutable-immutable concept**

In [ ]:
- mutable: can change
    - we can change using indexing concept
- immutable: cannot change
    - we cannot change using indexing concept

In [8]:
s='welcome'
# i want to replaced 'l' with 'L'
# possible
# not possible

s[2]

'l'

In [9]:
s[2]='L'    # strings are immutable

TypeError: 'str' object does not support item assignment

## string are Immutable

In [13]:
l=[1,2,3,4]      #2=200
l[1]=200
l

[1, 200, 3, 4]

In [1]:
s='wlecome'
s[2]='L'
##############################
l=[1,2,3,4]
l[1]=200
l

TypeError: 'str' object does not support item assignment

In [ ]:
range belongs to which family
        math
inside range bracket what we need to provide
        number
how many numbers we need to provide
        number of letters=len(string)
how to access the letter using number
        by using index

In [14]:
# Q4 print each letters using
s='welcome'
# range belongs to which family
# inside bracket we need to provide a number
# how many numbers we need to provide
#           number of letter=7
#  how to access

for i in s:
    print(i)

w
e
l
c
o
m
e

In [16]:
s='welcome'
for i in range(7):
    print(s[i])

w
e
l
c
o
m
e

In [19]:
s='welcome to naresh it'
n=len(s)
for i in range(n):
    print(s[i])

w
e
l
c
o
m
e

t
o

n
a
r
e
s
h

i
t

In [ ]:
- **for-in** direcltly access the letter
- **for-range** will access using index

In [ ]:
for i in

In [ ]:
#wap ask the user iterate using a string
# string='welcome'
#p[rint the positive index of w is 0
#        the                  e is 1
#                             l is 2

In [8]:
s='welcome'

for i in range(len(s)):
    print(i,s[i])
    print(f" the positive index of {s[i]}")

0 w
 the positive index of w
1 e
 the positive index of e
2 l
 the positive index of l
3 c
 the positive index of c
4 o
 the positive index of o
5 m
 the positive index of m
6 e
 the positive index of e

In [20]:
s='welcome'
for i in range(len(s)):
    print(i,i-len(s))
    print(f" the negative index of {s[i]} is {i-len(s)}")

0 -7
 the negative index of w is -7
1 -6
 the negative index of e is -6
2 -5
 the negative index of l is -5
3 -4
 the negative index of c is -4
4 -3
 the negative index of o is -3
5 -2
 the negative index of m is -2
6 -1
 the negative index of e is -1

In [10]:
s='welcome'
for i in range(len(s)):
    print(i,i-len(s))
    print(f" the negative index of is {i-len(s)}")

0 -7
 the negative index of is (0, -7)
1 -6
 the negative index of is (1, -6)
2 -5
 the negative index of is (2, -5)
3 -4
 the negative index of is (3, -4)
4 -3
 the negative index of is (4, -3)
5 -2
 the negative index of is (5, -2)
6 -1
 the negative index of is (6, -1)

In [ ]:
# Q7 wap 
# string='welcome'
# print the negative index of w is -7


# the positive index is 0 and the negative index is -7 for w

In [5]:
s='welcome'
for i in range(len(s)):
    print(s[i])

w
e
l
c
o
m
e

In [14]:
s='welcome'
for i in range(len(s)):
    print(i,i-len(s))
    print(f"the positive index is {i}  negative is {i-len(s)} for {s[i]} is {i-len(s)}")

0 -7
the positive index is 0  negative is -7 for w is -7
1 -6
the positive index is 1  negative is -6 for e is -6
2 -5
the positive index is 2  negative is -5 for l is -5
3 -4
the positive index is 3  negative is -4 for c is -4
4 -3
the positive index is 4  negative is -3 for o is -3
5 -2
the positive index is 5  negative is -2 for m is -2
6 -1
the positive index is 6  negative is -1 for e is -1

In [21]:
# Q8 wap ask the user get the index of each 'a' in a given string
# s='hai how are you i am good

count=0
s='hai how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
        print(i)

1
8
18

In [23]:
# Q9 wap ask the user to get count of number of 'a' in a given string
#   using for-range
count=0
s='hai how are you i am good'
for i in s:
    if i=='a':
        print(i)

a
a
a

In [26]:
# Q10  wap ask the user get the sum of all index number of 'a'

count=0
s='hai how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
        count=count+1

count

3

In [15]:
summ=0
s='hai how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
        summ=summ+i

summ

27

In [28]:
# Q11 wap ask the user get the vowels from a given string using for-range

count=0
summ=0
s='hai how are you i am good'
for i in range(len(s)):
    if s[i] in 'aeiou':
        print(s[i])
        count=count+1

print("the number of vowels are:", count)

a
i
o
a
e
o
u
i
a
o
o
the number of vowels are: 11

In [34]:
count=0
s='hai how are you i am good'
s1=' '
for i in range(len(s)):
    if s[i] not in s1:
        if s[i] in 'aeiou':
            print(s[i])
            count=count+1
            s1=s1+s[i]
print(f"the count of unique vowels is: {count}")

a
i
o
e
u
the count of unique vowels is: 5

In [35]:
# Q13 update wap ask the user get the vowels from a given string using for-range

count=0
s='hai how are you i am good'
s1=' '
for i in range(len(s)):
    if s[i] not in s1 and s[i] in 'aeiou':
            print(s[i])
            count=count+1
            s1=s1+s[i]
print(f"the count of unique vowels is: {count}")

a
i
o
e
u
the count of unique vowels is: 5

In [ ]:
# Q14 string= 'ola ola ola'
# number of ola = 3

# Q15 string1 = 'hello hello hello how how how how are you'
# what is the most repeated word = how

# Q16 string1= 'hellooooo how areee u'
# what is the maximum length of word= hellooooo
# what is the minimum length of word = u

# Q17 without using sorted then sort the letters

In [6]:
# Q14 string= 'ola ola ola'
# number of ola = 3

count=0
string='ola ola ola'
for i in range(len(string)):
    if i=='ola':
        print(i)

In [7]:
str1='ola ola ola'
for i in range(len(str1)):
    if str1[i:i+3]=='ola':
        count=count+1

count

3

In [8]:
str1='ola ola ola'
str1.count('ola ola ola')

1

In [9]:
str1='ola ola ola'
str1.count(str1)

1

**Slice**

- we can cut into pieces
- similarly to range concept
- start,stop,step here also

In [ ]:
str1='hai how are you'

In [ ]:
-15   -14    -13    -12   -11   -10   -9   -8   -7    -6     -5    -4     -3     -2     -1
h      a      i             h     o     w        a     r      e            y      o     u
0      1      2       3      4     5    6    7    8    9      10     11    12    13      14

In [ ]:
# case -
str1[start:stop:step]

In [ ]:
$pattern-1$
**str1[start:]**
    - by deault start value= start only
    - last value= last only
    - step nothing mentioned means, it is a positive direction and increment by 1

In [3]:
# -15   -14    -13    -12   -11   -10   -9   -8   -7    -6     -5    -4     -3     -2     -1
# h      a      i             h     o     w        a     r      e            y      o      u
# 0      1      2       3     4     5    6    7    8    9      10     11    12     13     14
str1='hai how are you'
str1[5:]

'ow are you'

In [4]:
str1[-11:]

'how are you'

In [5]:
str1[10:]

'e you'

In [17]:
str1[-5:]

'e you'

In [8]:
str1[5:],str1[-10:]

('ow are you', 'ow are you')

$pattern-2$
str1[start:stop]
- start value means default start value
- step is not mentioned positive direction
- last=step-1

In [9]:
str1[5:14]

'ow are yo'

In [10]:
str1[6:-6]

'w a'

In [11]:
str1[-5:14]

'e yo'

In [12]:
str1[5:-14]

''

In [13]:
str1[4:-4]

'how are'

In [15]:
str1[-5:14]

'e yo'

In [16]:
str1[-5:-14]

''

In [ ]:
# -15   -14    -13    -12   -11   -10   -9   -8   -7    -6     -5    -4     -3     -2     -1
# h      a      i             h     o    w         a     r      e            y      o      u
# 0      1      2       3     4     5    6    7    8    9      10     11    12     13     14
str1='hai how are you'
str1[5:]

**truncation behaviour**
- whenever string range is limited, but we provided unlimited number
- string will consider till the range we have
- in the above example our range only 15 letters
- we provided 500 then 500 will truncate till 15 letters only

In [18]:
str1[5:500]

'ow are you'

In [19]:
str1[-500:500]

'hai how are you'

In [20]:
str1[-1:500]

'u'

In [21]:
str1[500:]

''

In [23]:
str1[-500:-100]

''

In [ ]:
$pattern-3$
- str1[start:stop:step]
- start value means start only
- if step value positive
    - lastvalue=stop-1
- if step value negative
    - last value=stop+1

In [24]:
len(str1)

15

In [ ]:
str2='yeshwanth'

y   e    s    h     w    a     n     t     h
0   1    2    3     4    5     6     7     8

In [25]:
str1[2:13:2]

'ihwaey'

In [26]:
str1[2:13:-2]

''

In [27]:
str1[2:-13:2]

''

In [28]:
str1[2:-13:-2]

''

In [29]:
str1[-2:13:2]

''

In [30]:
str1[-2:-13:2]

''

In [31]:
str1[-2:-13:-2]

'o r o '

In [32]:
str1[13:2:2]

''

In [33]:
str1[-13:2:2]

''

In [34]:
str1[-13:-2:2]

'ihwaey'

In [35]:
str1[-13:-2:-2]

''

In [36]:
str1[-13:2:-2]

''

In [37]:
str1[2:-13]

''

In [38]:
str1[2:3:2]

'i'

In [39]:
str1[2:2:2]

''

In [40]:
# -15   -14    -13    -12   -11   -10   -9   -8   -7    -6     -5    -4     -3     -2     -1
# h      a      i             h     o    w         a     r      e            y      o      u
# 0      1      2       3     4     5    6    7    8    9      10     11    12     13     14
str1='hai how are you'
str1[2:6:2]

'ih'

In [41]:
str1[2:6:4]

'i'

In [42]:
str1[:]

'hai how are you'

In [44]:
str1[::]

'hai how are you'

In [45]:
str1[::-1]

'uoy era woh iah'

In [46]:
str1[:5:-2]

'uyeaw'

## =====================Part - 2==========================

## methods

In [ ]:
- strings lists tupple dictionary every data type has its own methods
- we already seen that packages has different methods
- for example random packages : randint method
- math packages : sqrt
- in the same way string also have methods
- in order to see methods for the packages
    - we are importing the packages
    - we are applying dir
- in the similar way in order to see the methods of string we need

In [47]:
dir('')
# dir('hai')
# str1=apple
# dir(str1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
- lower
- upper
- capitalize
- title
- casefold
- center

In [ ]:
str1='hai how are you'

In [ ]:
type(str1)
help(str1.upper

In [48]:
str1.upper()

'HAI HOW ARE YOU'

In [49]:
str1.upper

In [50]:
str1.upper()

'HAI HOW ARE YOU'

**lower**

In [53]:
help(str1.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [51]:
str1.lower()

'hai how are you'

In [52]:
str1.casefold()

'hai how are you'

**capitalize**

In [54]:
str1.capitalize()

'Hai how are you'

**casefold**

In [55]:
str1.casefold()

'hai how are you'

**title**

In [56]:
str1.title()

'Hai How Are You'

In [ ]:
# str1='hai how are you'
# o/p = 'Hai How Are You'
# without using any methods
# one more level :

In [57]:
str1.center(20)

'  hai how are you   '

In [58]:
len(str1.center(20))

20

- center has two arguments
    - width
    - fill char
- original string already : 15 letters
- we want to create a new string with 20 letters
- remaining 5 letters bt default empty
- we can fill with character also

In [59]:
str1.center(26,'*')

'*****hai how are you******'

In [60]:
str1.center()

TypeError: center expected at least 1 argument, got 0

In [1]:
str1='HELLO'
str1.isupper()

True

In [2]:
str1='HELLO'
str1.istitle()

False

In [3]:
str1='Hello'
str1.isupper()

False

In [4]:
str1='hello'
str1.isupper()

False

**Index-find**

**index**

In [ ]:
- index says that it eill give the index of any letter in given string
- we already seen about count: count will give how many letters are there in a string
    - at what index you want to count
    - between indexes also we can count the letters
- index meaning it will provide the index
- imagine that there same letters repeated
- how can we find the next index

In [1]:
#   0   1   2    3    4     5     6      7      8      9     10
#   h   a   i         h     a     i             h      a      i
# -11  -10  -9  -8   -7    -6     -5     -4    -3     -2     -1

# i always a return a lowest index
str1='hai hai hai'
str1.index('a')      # among all the indexes the lowest index is '1'

1

In [6]:
# i want to know next 'a' index 3rd index the lowest index is '5'
str1='hai hai hai'
str1.index('a',3)

5

In [7]:
# i want to know next 'a' index between 3rd and 7th indexes lowest is '5' only
str1='hai hai hai'
str1.index('a',3,7)

5

In [8]:
str1='hai hai hai'
str1.index('a',-3,-1)

9

In [9]:
str1='hai hai hai'
print(str1.index('a',-9,-6))

ValueError: substring not found

In [10]:
str1='hai hai hai'
str1.count('a')

3

In [11]:
str1='hai hai hai'
str1.count('a',3)

2

In [12]:
str1='hai hai hai'
str1.count('a',3,10)

2

In [13]:
str1='hai hai hai'
print(str1.count('a'))

3

In [14]:
str1='hai hai hai'
print(str1.count('a',3))

2

In [15]:
str1='hai hai hai'
print(str1.count('a',3,7))

1

In [16]:
str1='hai hai hai'
print(str1.index('a'))
print(str1.index('a',3))
print(str1.index('a',3,7))

1
5
5

In [17]:
str1='hai hai hai'
# i want to know all indexes of 'a'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

1
5
9

In [21]:
#   0   1   2    3    4     5     6      7      8      9     10     11    12     13     14
#   h   a   i         h     a     i             h      a      i            h     a       i

str1='hai hai hai hai'
i1=str1.index('a')
print(i1)
i2=str1.index('a',i1+1)    # i1+1     2
print(i2)
i3=str1.index('a',i2+1)     #  i2+1   6
print(i3)
i4=str1.index('a',i3+1)      # i3+1 or next a
print(i4)

1
5
9
13

In [ ]:
# home work implement above in for loop

**find**

In [25]:
#   0     1    2    3    4     5    6    7    8     9    10    11   12   13    14
#   h     a    i         h     a    i         h     a     i          h    a     i
#  -15  -14  -13  -12  -11   -10   -9   -8   -7    -6    -5    -4   -3   -2    -1


str1='hai hai hai hai'
i1=str1.find('a')
print(i1)
i2=str1.find('a',i1+1)    # i1+1     2
print(i2)
i3=str1.find('a',i2+1)     #  i2+1   6
print(i3)
i4=str1.find('a',i3+1)      # i3+1 or next a
print(i4)

1
5
9
13

In [24]:
str1='hai hai hai hai'
i1=str1.find('a')
print(i1)

1

In [9]:
# -22 -21 -20 -19    -18  -17  -16   -15  -14 -13  -12  -11  -10   -9   -8   -7   -6   -5   -4   -3   -2    -1
#  u   m   e    s     h         c     h    a   n    d     r    a         k    u    s    h    w    a    h     a
#  0   1   2   3     4     5    6     7    8   9   10    11    12   13   14  15   16   17   18   19   20    21
str1='umesh chandra kushwaha'
i1=str1.find('h')
print(i1)
i2=str1.find('h',i1+1)
print(i2)
i3=str1.find('h',i2+1)
print(i3)
i4=str1.find('h',i3+1)
print(i4)
i5=str1.find('u')
print(i5)
i6=str1.find('u',i5+1)
print(i6)

4
7
17
20
0
15

In [29]:
str1='hai hai hai'
i1=str1.find('a')
print(i1)
i2=str1.find('a',i1+1)    # i1+1     2
print(i2)
i3=str1.find('a',i2+1)     #  i2+1   6
print(i3)
i4=str1.find('a',i3+1)      # i3+1 or next a
print(i4)

1
5
9
-1

In [ ]:
str1.index()
str1.find()

In [31]:
str1='hai hai hai'
str1.count('z')

0

In [33]:
str1='hai hai hai'
str1.count('z','Z')

TypeError: slice indices must be integers or None or have an __index__ method

In [34]:
str1='hai hai hai'
str1.replace('z','Z')

'hai hai hai'

In [ ]:
- if substring not found
- count method will give zero
- replace method will give original string
- index will sub dtring not found error
- find will give -1

In [ ]:
str1='omkar.nallagoni@cognizant.com
#  first name= omkar
#   second name = nallagoni
#   company name= cognizant
str2='virat.kohli@rcb.com
str3='rohit.sharma@mi.com
str4='a.b@c.com

# idea: find the trigger 
# for first name .
#second name  .  and @
# company name   @  and second

# i1 = first dot index
# i2 = @ index
#  i3= second index

In [44]:
str1='omkar.nallagoni@cognizant.com'
i1=str1.index('.')
i2=str1.index('@')
i3=str1.index('.',i1+1)
first_name=str1[:i1]
second_name=str1[i1+1:i2]
cname=str1[i2+1:i3]
first_name,second_name,cname

('omkar', 'nallagoni', 'cognizant')

In [ ]:
- split
- strip/lstrip/rstrip
- startswith/endswith

In [47]:
str2='virat.kohli@rcb.com'
i1=str2.index('.')
i2=str2.index('@')
i3=str2.index('.',i1+1)
first_name=str2[:i1]
second_name=str2[i1+1:i2]
team_name=str2[i2+1:i3]
first_name,second_name,team_name

('virat', 'kohli', 'rcb')

In [49]:
str3='rohit.sharma@mi.com'
i1=str3.index('.')
i2=str3.index('@')
i3=str3.index('.',i1+1)
first_name=str3[:i1]
second_name=str3[i1+1:i2]
team_name=str3[i2+1:i3]
first_name,second_name,team_name

('rohit', 'sharma', 'mi')

In [50]:
str4='a.b@c.com'
i1=str4.index('.')
i2=str4.index('@')
i3=str3.index('.',i1+1)
first_letter=str4[:i1]
second_letter=str4[i1+1:i2]
third_letter=str4[i2+1:i3]
first_letter,second_letter,third_letter

('a', 'b', 'c')