## Variables

 - variables are used to store the values
 - and the value can change

In [1]:
number=100 # value 100 stored in a variable name called 'number'
number

100

In [2]:
number=200  # value 200 stored in a variable name called 'number'
number

200

** note **
- python is step by step process
- python will take last output as the latest value
- in above code we are using same variable: number
- but number value changed two times
- first time 100
- second time 200
- latest value 200

In [3]:
NUMBER=200
NUMBER

200

In [4]:
number, NUMBER

(200, 200)

In [5]:
NUMber=300
NUMber

300

In [6]:
number123=400
number123

400

In [7]:
123number=500

SyntaxError: invalid decimal literal (3682356261.py, line 1)

In [8]:
numb%er=600
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1823274275.py, line 1)

In [9]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [10]:
number_one=900
number_one

900

In [11]:
_=1000
_

1000

In [12]:
n1=100,200
n1

(100, 200)

In [13]:
n2,n3=200

TypeError: cannot unpack non-iterable int object

In [14]:
n4,n5=100,200
n4
n5

200

In [15]:
n4,n5=100,200
print(n4)
print(n5)

100
200

In [16]:
numner=200
NUMBER=300
NUMber=400
number123=500
123number=600
num%ber

SyntaxError: invalid decimal literal (243713465.py, line 5)

In [17]:
n1,_=200,300

- python variables are case sensitive
- variables can be declare as capital letters
- variables can be declare as small letters
- variables can not start with number(prefix)
- numbers can be suffix of the variables
- variables can not have special character except ** underscore **
- variables does not have space between the names
- only underscore possible
- keywords or reserved words can not use as variables
- two values can be assign to a single variables
- one value can not assign to a two variables